# Don't commit your virtual environment
env/
__pycache__/
*.pyc
.env

# OS-generated
.DS_Store
Thumbs.db

# Ignore model files
*.keras
*.h5
*.pb

# Uploaded/temporary files
uploads/
pdf export/

# VSCode settings (optional)
.vscode/

# Notebook checkpoints
.ipynb_checkpoints/
