<!DOCTYPE html>
<html>
<head>
    <title>Upload Fundus Image</title>
    <style>
        #error-message {
            color: red;
            font-weight: bold;
            margin-top: 10px;
            display: none;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center; font-size: 3em; margin-bottom: 20px;">NEVISIGHT</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label>Choose File:
            <input type="file" id="fileInput" name="file" required>
        </label><br><br>

        <div id="error-message">File type not supported.</div>

        <!-- Metadata fields shown only for PNG/JPG -->
        <div id="metadataFields" style="display:none; margin-top:20px;">
            <label>Medical Record Number (MRN):<br>
                <input type="text" name="mrn">
            </label><br><br>

            <label>Age:<br>
                <input type="number" name="age" min="0" max="120">
            </label><br><br>

            <label>Gender:<br>
                <select name="Gender">
                    <option value="Unknown">Unknown</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </label><br><br>

            <label>Eye:<br>
                <select name="eye">
                    <option value="Unknown">Unknown</option>
                    <option value="RIGHT">Right Eye </option>
                    <option value="LEFT">Left Eye </option>
                </select>
            </label><br><br>

            <label>Study Date:<br>
                <input type="date" name="study_date">
            </label><br><br>
        </div>

        <label>Select AI Model:
            <select name="model">
                <option value="default">Default Model</option>
            </select>
        </label><br><br>

        <button id="submitBtn" type="submit" disabled>Upload & Analyze</button>
        <div id="loadingMessage" style="display:none; font-weight:bold; margin-top:15px;">
            Analyzing image... Please wait.
        </div>

    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
